#top-image {
  background:url('https://i.ytimg.com/vi/9ezp2-UTxmg/maxresdefault.jpg') -25px -50px;
  position:fixed ;
  top:0;
  width:100%;
  z-index:-1;
 
 height:100%;
  background-size: calc(100% + 50px);
}





.wrap {
  font-family: 'Segoe UI', san-serf;
  font-size: 14px;
}

a {
  color: #76daff;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.title {
  font-size: 1.7em;
  font-weight: lighter;
}

.title2 {
  font-size: 3em;
  font-weight: lighter;
}
.content {
  display: block;
  width: 100%;
  padding: 5px 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: justify;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#input {
  background: #fff;
  margin-left: auto;
  font-size:15px;
  font-family: 'Segoe UI', san-serf;
    margin-right: auto;
    box-sizing: border-box;
  width:95%;
  height: 180px;
  opacity: 0.9;
  resize          : none;
}

#output {
  background: #eee;
  font-size:15px;
  font-family: 'Segoe UI', san-serf;
  width: 95%;
  height: 180px;
  margin-left: auto;
    margin-right: auto;
  opacity: 0.9;
  white-space: pre-wrap;
}

.config {
  font-size: smaller;
  color: #595656;
}

.config input {
  margin-right: 4px;
  vertical-align: middle;
}

.config label {
  margin: 0 7px;
}

.center {
  text-align: center;
  margin: 20px 0;
  
}

#copybtn {
  padding: 4px 0;
  display: block;
  width: 100%;
  color: #595656;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 0.2s;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/*Let's make it appear when the page loads*/
.overlay:target:before {
    display: none;
}
.overlay:before {
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}
.overlay .popup {
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: fixed;
  top: 0;
  left: 35%;
  padding: 25px;
  margin: 70px auto;
  z-index: 10;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.overlay:target .popup {
    top: -100%;
    left: -100%;
}

@media screen and (max-width: 768px){
  .box{
    width: 70%;
  }
  .overlay .popup{
    width: 70%;
    left: 15%;
  }
}
